:root {
	--primary-color: #c5c5c5;
	--secondary-color: #f4f4f4;
	--light-color: #c5c5c5;
}

.remove-btn {
	margin-right: 0.5rem;
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0.01;
	transition: opacity 1000ms ease-in;
}
body {
	background-color: var(--secondary-color) !important;
}

.primary-background {
	background-color: var(--primary-color) !important;
}
.secondary-background {
	background-color: var(--secondary-color) !important;
}
.light-background {
	background-color: var(--light-color) !important;
}
.p3 {
	padding: 3rem;
}
