@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --primary-color: #c5c5c5;
  --secondary-color: #f4f4f4;
  --light-color: #c5c5c5;
}

body {
  background-color: var(--secondary-color) !important;
  font-family: "Raleway", sans-serif;
  /* height: 100vh; */
  /* background: #333 url('https://image.ibb.co/n5A2HU/showcase.jpg') no-repeat */
  /* center center / cover; */
  /* color: #ccc; */
  width: 100vw;
  overflow-x: hidden;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.primary-background {
  background-color: var(--primary-color) !important;
}
.secondary-background {
  background-color: var(--secondary-color) !important;
}
.light-background {
  background-color: var(--light-color) !important;
}
.p-3 {
  padding: 3rem;
}
.p-2 {
  padding: 2rem;
}
.p-1 {
  padding: 1rem;
}
.mt-6 {
  margin-top: 6rem;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
.text-white {
  color: #f4f4f4;
}
